<!DOCTYPE html>
<html ng-app="shuffling">

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>

	<!--
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../src/js/app.js"></script>
	-->
	    <link rel="stylesheet" href="styles.css"/>
	    <script src="vendors.js"></script>
	    <script src="app.js"></script>


        <link rel="stylesheet" href="styles.css"/>
  </head>

  <body>
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
          <li role="presentation"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">


          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane active" id="form" ng-controller="formController as fc">
            <div>

              <form class="col-md-6 well">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" class="form-control" id="guest-name" ng-model="fc.guestname" placeholder="">
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input type="date" class="form-control" id="transition-date" ng-model="fc.transdate" placeholder="">
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="pickup" ng-model="fc.pickdrop" value="pickup" checked>
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="dropoff" ng-model="fc.pickdrop" value="dropoff">
                    Drop-off
                  </label>
                </div>
                <div class="form-group">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="fc.location"></textarea>
                </div>
                <button ng-click="fc.writeConsole('someone clicked submit')"   type="submit" class="btn">Submit</button>
              </form>




              <!-- bound display -->
              <div ng-show="true" class="col-md-6 well">
                <div ng-show="true" class="form-group">
                  <label>Name: </label>
				  {{ fc.guestname }}
                </div>
                <div ng-show="true" class="form-group">
                  <label>Transition Date: </label>
				  {{ fc.transdate }}
                </div>
                <div ng-show="true" class="form-group">
                  <label>Status: </label>
				  {{ fc.pickdrop }}
                </div>
                <div ng-show="true" class="form-group">
                  <label>Location: </label>
				  {{ fc.location }}
                </div>
              </div>

            </div>
          </div>






          <!-- Tab pane 2 -->
          <div role="tabpanel" class="tab-pane" id="guests" ng-controller="guestController as gc">
			  {{ gc.mesg }}
            <ul class="list-group">
				<li class="list-group-item" ng-repeat="(index,guest) in gc.guests"> {{ guest.guestname }} </li>
            </ul>
          </div>





        </div>
      </div>
    </div>

  </body>
</html>
